@{
    ViewData["Title"] = "Home Page";
}

<div class="">

    <div id="carouselIndicators" class="carousel slide MCarouselDimensions" data-ride="carousel">
        <ol style="z-index:1;" class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
            <li data-target="#carouselIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner MCarousel-item ">
            <div class="carousel-item active  ">
                <img class="d-block w-100" src="~/Assets/allef-vinicius-IvQeAVeJULw-unsplash.jpg" alt="First slide">
            </div>
            <div class="carousel-item MCarousel-item ">
                <img class="d-block w-100" src="~/Assets/hai-phung-m4Pd_e-4zKs-unsplash.jpg" alt="Second slide">
            </div>
            <div class="carousel-item MCarousel-item ">
                <img class="d-block w-100" src="~/Assets/mostafa-meraji-9twmmS4aXlE-unsplash.jpg" alt="Third slide">
            </div>
            <div class="carousel-item MCarousel-item ">
                <img class="d-block w-100" src="~/Assets/jonathan-weiss-arxAZJT5k2A-unsplash.jpg" alt="Fourth slide">
            </div>
        </div>
        <a style="z-index:1;" class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a style="z-index:1;" class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="">
        <div class="MDisplayMain">
            <div class="MVerticalDimension">
                <h2 class="MTittleDimension" style="margin: 20px;">
                    Nuestro Servicios
                </h2>
                <p style="font-size:18px" class="MTextAlign">
                    StyleMate Cuenta con servicios premium de barbería y peluquería, donde priorizamos la satisfacción del cliente,
                    además contamos con diferentes estilistas los cuales están capacitados para adaptarse a tu gusto o brindarte asesoramiento
                </p>

                <button type="button" class="btn btn-outline-primary me-2 PrimButtom">Ver Servicios</button>
            </div>
            <div class="MHorizontalDimension">
                <div style="position:relative">
                    <div class="MImageLarge"><img class="" src="~/Assets/agustin-fernandez-Znyjl9pbaUs-unsplash.jpg">    </div>
                    <div class="MImageSmall"><img class="" src="~/Assets/delfina-pan-8esvJeVUdes-unsplash.jpg">   </div>
                </div>
                <div class="MVerticalDimensionNoPadding cardSize">
                    <h2 class="" style="margin: 20px;">

                        Visión

                    </h2>

                    <p style="text-align: center; font-size: 18px; ">
                        Ofrecer una experiencia excepcional y elevando los estándares de la industria, apasionados por nuestro trabajo enfocados a un concepto clásico, elegante y moderno
                    </p>
                </div>

            </div>
            <div class="MVerticalDimension">



                <h2 style="margin: 20px;">

                    Patrocinadores
                </h2>
                <div>
                    <div class="sponsors-display">
                        <img alt='RedBullLogo' class="sponsors-width" src="~/Assets/TipTop.png">
                        <img alt='Jaggermeister logo' class="sponsors-width" src="~/Assets/Kingc C.png">
                        <img alt='smirnoff logo' class="sponsors-width" src="~/Assets/Reuzel.png">
                    </div>
                </div>
            </div>
            <!--Ejemplo de seccion de horarios-->
            <!--   <div class="schedule">
           <div class="day Fullday DayName"><p>LUN</p><p class="hours">08:00 - 17:00</p></div>
           <div class="day Fullday DayName"><p>MAR</p><p class="hours">08:00 - 17:00</p></div>
           <div class="day Fullday DayName"><p>MIÉ</p><p class="hours">08:00 - 17:00</p></div>
           <div class="day Fullday DayName"><p>JUE</p><p class="hours">08:00 - 17:00</p></div>
           <div class="day Fullday DayName"><p>VIE</p><p class="hours">08:00 - 17:00</p></div>
           <div class="day MidDay DayName"><p>SÁB</p><p class="hours">09:00 - 12:00</p></div>
           <div class="day DayOff DayName"><p>DOM</p><p class="hours">CERRADO</p></div>

       </div>-->
        </div>
    </div>

</div>
