/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Main buttons*/

.SecButtom {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 100%;
    width:auto;
    color: #d9f1ff;
    border-color: #d9f1ff;
}

    .SecButtom:hover {
        color: #366784;
        background-color: #d9f1ff;
        border-color: #d9f1ff;
}

    .SecButtom:active {
        color: #366784!important;
        background-color: #aec1cc!important;
        border-color: #aec1cc!important;
    }

.PrimButtom {
    background-color: #101f28 !important;
    border-color: #86a4b5 !important;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 100%;
    width: auto;
    color: #d9f1ff;
}

    .PrimButtom:hover {

        background-color: #1d3a4b !important;
    }

/*Header*/
.mainfont {
    font-family: 'Roboto', sans-serif !important;
    margin: 0px !important;
    border-bottom-width: 0px !important;
}


.HDimensions {
    padding: 0px;
    max-width: 100%;
    background-image: linear-gradient(179deg, #4D7ABD, #366784) !important;
}
.HList li a {
    font-size: large;
    color: white;
    transition: background-color 0.5s ease;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
    .HList li a:hover {
        text-decoration: none;
        color: #366784;
        background-color: #D9f1ff;
        border-radius: 5px;
    }


/*MainBodyInfo*/

MCarouselDimensions {
    width: 100%;
    max-width: 100%;
    height: 500px !important;
    max-height: 100%;
    overflow: hidden !important;
}

MCarousel-item img {
   /* object-fit: cover;
    height: 300px;*/

    max-width: 100%; /* Ancho máximo de la imagen al 100% */
    max-height: 100%; /* Altura máxima de la imagen al 100% */
    margin: auto; /* Centrar la imagen verticalmente */
    display: block;
    object-fit:cover;
}
div#carouselIndicators {
    width: 100%;
    max-width: 100%;
    height: 500px !important;
    max-height: 100%;
    overflow: hidden !important;
}

.MDisplayMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MTextAlign {
    width: 25% ;
    max-width: 100%;
    text-align: center;
}


.form-control-dark {
    border-color: var(--bs-gray);
}

    .form-control-dark:focus {
        border-color: #fff;
        box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
    }

.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}




a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

